<!doctype html>
<html>
  <head>
    <title>YesCity: Página no encontrada</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h1>Página no encontrada</h1>
    <p>Lo sentimos, no hemos encontrado la página solicitada.</p>
    <p>Prueba a <a href="{{ inicio }}">volver a inicio</a></p>
  </body>
</html>
