<div class="bienvenida">
  {% if not session.user_token %}
     No has iniciado sesión. <a href="{{ url_for('login') }}">Iniciar sesión</a>
  {% else %}
     Hola {{ user.first_name }}. <a href="{{ url_for('logout') }}">Cerrar sesión</a>
  {% endif %}
</div>
