<footer>
	<div class="row">
<div class="col-xs-12 well bg-azul-claro blanco" style="height: 150px;">	
		<div class="col-xs-6">
			<br/>
			<h3>Desarrollado por Adrián García</h3>
		</div>
		<div class="col-xs-4 col-xs-offset-2">
			<h3>CIFP AVILES</h3>
			<h4>Desarrollo de Aplicaciones Web</h4>
		</div>	
</div>
</div>
</footer>