<div class="barra-estado">
      <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="logo">
        <a href="{{ url_for('index' ) }}">
        <img src="{{ url_for('static', filename='images/logo_barra_superior.png') }}" alt="YesGijón">
        </a>
          </div><!-- .logo -->
          <div class="perfil">
            <a href="{{ url_for('yescity_user.user_public_profile', user_slug=user.slug) }}">
        {% if user.profile_image_filename %}
        <img class="circular" src="{{ url_for('yescity_user.uploaded_file', user_id=user.id|string()) }}">
        {% else %}
        <img class="circular" src="{{ url_for('static', filename='images/no_profile_image.png') }}">
        {% endif %}
      </a>
          <div class="nombre-perfil"><a href="{{ url_for('yescity_user.user_public_profile', user_slug=user.slug) }}">{{ user.first_name }}<br>{{ user.last_name }}</a></div>
          </div><!-- .perfil -->
          <div class="informaciones">
              
    <!-- BOTON CHAT -->
        <a href="{{ url_for('yescity_messages.show_conversations' , uname = user.username) }}">                     
        <img src="{{ url_for('static', filename='images/barra-estado-comentario.png') }}" alt="Comentario"></a>
        
    <!-- BOTON AMIGOS-->
        <span class="relaciones">
          {% if (get_invitations_received(user.username) > 0) %}
	  <div class="numero-invitaciones">
            <span>{{ get_invitations_received(user.username) }}</span>
	  </div><!-- .numero-invitaciones -->
          {% endif %}
          <a href="{{ url_for('yescity_relations.show_relations' , uname = user.username) }}">
            <img src="{{ url_for('static', filename='images/barra-estado-amigos.png') }}" alt="Amigos"></a>
        </span><!-- .relaciones -->
       
        <img src="{{ url_for('static', filename='images/barra-estado-notificaciones.png') }}" alt="Notificaciones">
        
        
          </div><!-- .informaciones -->
          <div class="buscador">
        <div class="area-busqueda">
          <input type="text" class="busqueda" placeholder="Amigos, aplicaciones, lugares...">
          <button></button>
        </div><!-- .area-busqueda -->
          </div><!-- .buscador -->
          <div class="comentario-rapido">
        <img src="{{ url_for('static', filename='images/barra-estado-comentario-rapido.png') }}" alt="Comentario rápido">
        <div class="comentario">Comentario rápido</div>
          </div><!-- .comentario-rapido -->
          <div class="acciones">
              
              <!-- APLICACIONES -->
         <a href="{{ url_for('yescity_user.show_applications', user_slug=user.slug) }}">
        <img src="{{ url_for('static', filename='images/barra-estado-accion-informacion.png') }}" alt="Información"></a>
        
        
        
  <a href="{{ url_for('yescity_user.user_private_profile', user_slug=user.slug) }}">
    <img src="{{ url_for('static', filename='images/barra-estado-accion-configuracion.png') }}" alt="Configuración"></a>
        <a href="{{ url_for('yescity_login.logout') }}"><img src="{{ url_for('static', filename='images/barra-estado-accion-cerrar-sesion.png') }}" alt="Cerrar sesión"></a>
        
          </div><!-- .acciones -->
        </div>
      </div>
      </div><!-- .container -->
    </div><!-- .barra-estado -->
