<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tu Gestor de Incidencias</title>

    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    
    <script src=" {{ url_for('static', filename='js/jquery/jquery-2.1.3.min.js') }} "></script>
    <script src=" {{ url_for('static', filename='js/bootstrap/bootstrap.min.js') }} "></script>
    
     
    
    

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='css/custom.css') }}" rel="stylesheet">
    
            
    

  </head>
  <body>
  	
  	<!-- PRINCIPIO -->
    <div class="container">
    	
    	<!-- TITULO -->
    	<div class="row row-centered bg-azul-claro blanco" style="height: 100px;">
    	<div class="margin-top center">
    		<h1>TU GESTOR DE INCIDENCIAS</h1>
    	</div>
    	</div><!-- Titulo -->
    	
    	
    	<!-- ERRORES -->
    	
    	{% if error ==1 %}
    	
    	<div class="alert alert-danger">

					<a href="#" class="close" data-dismiss="alert">&times;</a>

					<div class="text-center">

						<strong>ERROR:</strong> Usuario o contraseña inválidos.
					</div>

		</div>
    	
    	{% endif %}
    	
    	
    	<!-- CUERPO -->
    	<div class="row" >
    		
    		<form method="post" action = "">
    		
    		<div class="col-xs-6 col-xs-offset-3 well margin-top-100 bg-azul-claro blanco">
    			
    			<div class="login">
    			<h3>LOGIN</h3>
    			
    			<div class="input-group margin-top-30">
  				<span class="input-group-addon" id="basic-addon1">@</span>
  				<input type="text" class="form-control" placeholder="Nombre Usuario" aria-describedby="basic-addon1" name="username">
				</div>
				
				<div class="input-group margin-top-10">
  				<span class="input-group-addon" id="basic-addon1">@</span>
  				<input type="password" class="form-control" placeholder="Contraseña" aria-describedby="basic-addon1" name="password">
				</div>
				
				<input type="submit" value="Acceder" class="btn btn-default margin-top-30">
    			
    			<!-- 
    			Usuario 
    			<br/>
    			<input type="text" name="nombreUsuario">
    			<br/>
    			Contraseña
    			<br/>
    			<input type="password" name="contrasena">
    			<br/>
    			<br/>
    			<input type="submit" value="Login" class="btn btn-default">
    			-->
    			</div>
    			
    			
    		</div>
    		
    		</form>   		
    		
    	</div><!-- FIN CUERPO -->
    	
    	<div class="margin-top-100"></div>
    	
    	{% include "footer.html" %}
    	
    </div>
    
  </body>
</html>
