body{
	background-color: #f4f4ef;
	/*background-color: #A7DBD8;*/
	
}
input[type="text"]{
	color: #000000 !important;
}
input[type="password"]{
	color: #000000 !important;
}

.margin-top-10{
	margin-top: 10px;
}
.margin-top-30{
	margin-top: 30px;
}
.margin-top-100{
	margin-top: 100px;
}

.margin-top-300{
	margin-top: 300px;
}

.center{
	margin-left: auto;
	margin-right: auto;
}

.row-centered {
    text-align:center;
}

.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.login{
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}


/* COLORES */ 

.bg-azul-oscuro{
	background-color: #17649A;
}

.bg-azul-claro{
	/* background-color: #40B3DF;*/
	background-color: #69D2E7;
}

.bg-verde{
	background-color: #A8CB17;
}

.bg-gris-azul{
	background-color: #CEE3F6;
}

.bg-gris{
	background-color: #EEEEEE;
}

.bg-gris-claro{
	background-color: #D4D4D4;
}

.bg-blanco{
	background-color: #FFFFFF;
}

.bg-marron-claro{
	background-color: #F4F4EF;
}

.bg-verde{
	background-color: #698D20;
}

.verde{
	color: #698D20;
}

.rojo{
	color: #BE2A22;	
}

.blanco{
	color: #FFFFFF;	
}

.gris{
	color: #92928f;
}


